main {
    padding: 8px;
    text-align: center;
    font-family: "caviar";
    font-size: 18px;
    color: white;
    background-image: linear-gradient(135deg, #00b712 0%, #26977f 74%);
        article{
            margin: 10px 0px 20px;
            font-size: 24px;
            font-weight: bold;
        }
        h2 {
            padding-top: 12px;
          }
    }